﻿@model WebApplication1.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="@Url.Action("Index")">
    身高 @Html.TextBoxFor(m => m.Heigth)公分 @ViewBag.HeightError<br />
    體重 @Html.TextBoxFor(m => m.Weigth) 公斤 @ViewBag.WeightError<br />
    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level

