﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<form action="/" method="post">
    Test<input type="type" name="name" value="" />
    Passwor<input type="type" name="name" value="" />
           <br />
           <input type="radoi" name="name" value="" />man <br />
           <input type="type" name="name" value="" />woman

</form>
